<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.mapper.QuesMapper">

    <select id="queryAllQues" resultMap="findQuesWithOptions">
        select * from q_topic, q_type, q_opts where q_topic.qtid = q_type.tid and q_opts.oqid = q_topic.qid
    </select>

    <resultMap id="findQuesWithOptions" type="com.zzw.pojo.Ques">
        <id property="qid" column="qid"/>
        <result property="qdes" column="qdes"/>
        <result property="qans" column="qans"/>
        <!-- 嵌套查询 -->
        <association property="qtype" column="qtid" javaType="com.zzw.pojo.QType"
                     select="com.zzw.mapper.QTypeMapper.queryById"/>
        <collection property="qOptsList" ofType="com.zzw.pojo.QOpts">
            <id property="oid" column="oid"/>
            <result property="odes" column="odes"/>
        </collection>
    </resultMap>

    <insert id="addFeedBack">
        insert into q_feedback(fcontent, feamil) values(#{content}, #{contact})
    </insert>

    <insert id="addTestRecord">
        insert into q_record(rA, rB, rC, rD, rE, ruid, rtime, iqrank, iqrange, rcost)
        values (#{qa.rA}, #{qa.rB}, #{qa.rC}, #{qa.rD}, #{qa.rE}, #{uid}, #{qa.rtime}, #{qa.iqrank}, #{qa.iqrange}, #{qa.rcost})
    </insert>

    <select id="getAllTestRecord" resultType="com.zzw.pojo.QReply">
        select * from q_record where ruid = #{uid}
    </select>

    <select id="getAllSharePics" resultType="com.zzw.pojo.QShares">
        select * from q_share_pic
    </select>

</mapper>